<div class="app-main__outer">
    <div class="admin_a">

        <div class="vendor-form mt-40" style="background:#fff; padding-bottom:60px;">

            <div class="this_row" #htmlElement #htmlContainer>
                <div class="row">

                    <div class="space-50"></div>

                    <div class="col-lg-8 offset-2 col-md-12" style="border: 1px solid #ccc; padding: 50px;">
                        <div class="text-center mb-40">
                            <h2>{{data.message}}</h2>
                        </div>

                        <div class="tick-icon text-center mb-40">
                            <a *ngIf="data.state === 'COMPLETED'"><img src="assets/img/correct.png"
                                    title="correct icons"></a>
                            <a *ngIf="data.state === 'FAILED'"><img src="assets/img/incorrect.png"
                                    title="correct icons"></a>
                            <a *ngIf="data.state === 'PENDING'"><img src="assets/img/warning.png"
                                    title="correct icons"></a>
                        </div>

                        <div class="space-50"></div>
                        <dl class="d-flex payment_success">
                            <dt>Payment Type</dt>
                            <dd>{{data.paymentInstrumentType}}</dd>
                        </dl>

                        <dl class="d-flex payment_success">
                            <dt>Date</dt>
                            <dd>{{ separateDateTime().date }}</dd>
                        </dl>


                        <dl class="d-flex payment_success">
                            <dt>Time</dt>
                            <dd>{{timePart}}</dd>
                        </dl>

                        <dl class="d-flex payment_success">
                            <dt>State:</dt>
                            <dd>{{data.state}}</dd>
                        </dl>

                        <dl class="d-flex payment_success" *ngIf="data.state !== 'PENDING' && data.state !== 'FAILED'">
                            <dt><strong>Amount Paid</strong></dt>
                            <dd>{{data.amount}}</dd>
                        </dl>

                        <dl class="d-flex payment_success" *ngIf="data.state !== 'PENDING' && data.state !== 'FAILED'">
                            <dt>transaction id:</dt>
                            <dd>{{data.transactionId}}</dd>
                        </dl>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 mt-40 text-center"
                *ngIf="data.paymentSuccess === true  && data.state !== 'PENDING'">
                <button class="border-btn" type="submit" value="" (click)="downloadDesign()">Download</button>
                <button class="btn_blue " type="submit" value="" [routerLink]="['/membership-plan-list']"
                    *ngIf="'Vendor' == role">Close</button>
                <button class="btn_blue " type="submit" value="" [routerLink]="['/super-vendor-list/super-add-vendor']"
                    *ngIf="'Admin' == role">Next</button>
                <button class="btn_blue " type="submit" value="" [routerLink]="['/super-vendor-list/super-add-vendor']"
                    *ngIf="'SuperAdmin' == role">Next</button>
                <button class="btn_blue " type="submit" value="" [routerLink]="['/super-vendor-list/super-add-vendor']"
                    *ngIf="'Distributor' == role">Next</button>
            </div>
        </div>
    </div>
</div>