<div class="app-main__outer">
    <div class="admin_a form_dashbord">
        <div class="top-head">
            <img (click)="backClicked()" src="assets\img\backimage.png" class="backimage-butn">
            <h2>Distributor Detail</h2>
        </div>
        <div class="vendor-form image-back mt-40 bg-white">
            <img class="image" [src]="rootUrl + detail?.profilePic">
        </div>
        <div class="vendor-form mt-40 bg-white pb-60">
            <div class="this_row">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <dl class="d-flex inform_text">
                            <dt>First Name:</dt>
                            <dd>{{detail?.firstName}}</dd>
                        </dl>
                        <dl class="d-flex inform_text">
                            <dt>Email:</dt>
                            <dd>{{detail?.email}}</dd>
                        </dl>
                        <dl class="d-flex inform_text">
                            <dt>Country:</dt>
                            <dd>{{detail?.countryName}}</dd>
                        </dl>
                        <dl class="d-flex inform_text">
                            <dt>Phone Number:</dt>
                            <dd>{{detail?.phoneNumber}}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <dl class="d-flex inform_text">
                            <dt>Last Name:</dt>
                            <dd>{{detail?.lastName}}</dd>
                        </dl>
                        <dl class="d-flex inform_text">
                            <dt>Gender:</dt>
                            <dd>{{detail?.gender}}</dd>
                        </dl>

                        <dl class="d-flex inform_text">
                            <dt>State:</dt>
                            <dd>{{detail?.stateName}} </dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="list-cross-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content warning-content">
            <div class="modal-body text-center warning-mess-sec">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="assets\img\warning.png">
                <h2>Alert</h2>
                <p>Are You Sure, You want to Delete it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class=" border-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class=" btn_blue">Yes, Delete It</button>
            </div>
        </div>
    </div>
</div>